:root {
    --border: #FF477E;
    --body-background: #FAE0E4;
    --text-color: #ff0a54;
    --hover: #F9BEC7;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: var(--body-background);
    font-family:Arial, Helvetica, sans-serif;

}

#centre-just-because {
    margin: auto;
    padding: 30px;
    width: 500px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    width: 500px;
    height: 500px;
    margin: -1px;
    padding: 30px auto;
    border: 3px solid var(--border);
}

.square {
    border: 4px solid var(--border);
    margin: -1px;
    text-align: center;
    font-size: 130px;
    /* color:#f03a17; */
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    /* padding-top: 10px; */
}

.square:hover {
    background-color: var(--hover);
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto;
    color: var(--text-color);
}

#announcer {
    text-align: center;
    font-size: 30px;
    font-size: 2em;
    font-weight: bold;
}

#restart {
    margin: 20px;
    width: 30%;
    color: var(--text-color);
    border-radius: 5px;
    border: 3px solid var(--border);
    font-size: 1.5em;
    padding: 5px;
}